.workspaceHeader {
    display: grid;
    align-items: center;
    height: var(--layout-header-height);
    background: var(--g-color-base-generic-ultralight);
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 20%);
}

.workspaceHeaderContent {
    align-items: center;
    height: 100%;
    padding: 0 var(--g-spacing-3);
    padding-top: var(--g-spacing-1);
}

.userAvatarButton {
    --_--border-radius: 10%;
    --_--padding: 0;
}
