@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

.g-root_theme_light {

  --g-font-family-sans: 'Inter', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  --g-font-family-monospace: 'Roboto Mono', 'Menlo', 'Monaco', 'Consolas', 'Ubuntu Mono', 'Liberation Mono', 'DejaVu Sans Mono', 'Courier New', 'Courier', monospace;

  --g-color-private-brand-50: rgba(24,160,88,0.1);
  --g-color-private-brand-100: rgba(24,160,88,0.15);
  --g-color-private-brand-150: rgba(24,160,88,0.2);
  --g-color-private-brand-200: rgba(24,160,88,0.3);
  --g-color-private-brand-250: rgba(24,160,88,0.4);
  --g-color-private-brand-300: rgba(24,160,88,0.5);
  --g-color-private-brand-350: rgba(24,160,88,0.6);
  --g-color-private-brand-400: rgba(24,160,88,0.7);
  --g-color-private-brand-450: rgba(24,160,88,0.8);
  --g-color-private-brand-500: rgba(24,160,88,0.9);
  --g-color-private-brand-550-solid: rgb(24,160,88);
  --g-color-private-brand-1000-solid: rgb(33,49,42);
  --g-color-private-brand-950-solid: rgb(32,55,45);
  --g-color-private-brand-900-solid: rgb(31,68,50);
  --g-color-private-brand-850-solid: rgb(30,81,56);
  --g-color-private-brand-800-solid: rgb(29,95,61);
  --g-color-private-brand-750-solid: rgb(28,108,66);
  --g-color-private-brand-700-solid: rgb(27,121,72);
  --g-color-private-brand-650-solid: rgb(26,134,77);
  --g-color-private-brand-600-solid: rgb(25,147,83);
  --g-color-private-brand-500-solid: rgb(47,170,105);
  --g-color-private-brand-450-solid: rgb(70,179,121);
  --g-color-private-brand-400-solid: rgb(93,189,138);
  --g-color-private-brand-350-solid: rgb(116,198,155);
  --g-color-private-brand-300-solid: rgb(140,208,172);
  --g-color-private-brand-250-solid: rgb(163,217,188);
  --g-color-private-brand-200-solid: rgb(186,227,205);
  --g-color-private-brand-150-solid: rgb(209,236,222);
  --g-color-private-brand-100-solid: rgb(220,241,230);
  --g-color-private-brand-50-solid: rgb(232,246,238);


  --g-color-base-brand: #18A058;
  --g-color-base-background: rgb(255,255,255);
  --g-color-base-brand-hover: var(--g-color-private-brand-600-solid);
  --g-color-base-selection: var(--g-color-private-brand-200);
  --g-color-base-selection-hover: var(--g-color-private-brand-300);
  --g-color-line-brand: var(--g-color-private-brand-600-solid);
  --g-color-text-brand: var(--g-color-private-brand-700-solid);
  --g-color-text-brand-heavy: var(--g-color-private-brand-700-solid);
  --g-color-text-brand-contrast: rgb(255, 255, 255);
  --g-color-text-link: var(--g-color-private-brand-600-solid);
  --g-color-text-link-hover: var(--g-color-private-brand-800-solid);
  --g-color-text-link-visited: var(--g-color-private-purple-550-solid);
  --g-color-text-link-visited-hover: var(--g-color-private-purple-800-solid);
}

.g-root_theme_dark {

  --g-font-family-sans: 'Inter', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  --g-font-family-monospace: 'Roboto Mono', 'Menlo', 'Monaco', 'Consolas', 'Ubuntu Mono', 'Liberation Mono', 'DejaVu Sans Mono', 'Courier New', 'Courier', monospace;

  --g-color-private-brand-50: rgba(58,100,74,0.1);
  --g-color-private-brand-100: rgba(58,100,74,0.15);
  --g-color-private-brand-150: rgba(58,100,74,0.2);
  --g-color-private-brand-200: rgba(58,100,74,0.3);
  --g-color-private-brand-250: rgba(58,100,74,0.4);
  --g-color-private-brand-300: rgba(58,100,74,0.5);
  --g-color-private-brand-350: rgba(58,100,74,0.6);
  --g-color-private-brand-400: rgba(58,100,74,0.7);
  --g-color-private-brand-450: rgba(58,100,74,0.8);
  --g-color-private-brand-500: rgba(58,100,74,0.9);
  --g-color-private-brand-550-solid: rgb(58,100,74);
  --g-color-private-brand-1000-solid: rgb(225,232,228);
  --g-color-private-brand-950-solid: rgb(216,224,219);
  --g-color-private-brand-900-solid: rgb(196,209,201);
  --g-color-private-brand-850-solid: rgb(176,193,183);
  --g-color-private-brand-800-solid: rgb(157,178,165);
  --g-color-private-brand-750-solid: rgb(137,162,146);
  --g-color-private-brand-700-solid: rgb(117,147,128);
  --g-color-private-brand-650-solid: rgb(97,131,110);
  --g-color-private-brand-600-solid: rgb(78,116,92);
  --g-color-private-brand-500-solid: rgb(56,93,70);
  --g-color-private-brand-450-solid: rgb(53,86,66);
  --g-color-private-brand-400-solid: rgb(51,79,62);
  --g-color-private-brand-350-solid: rgb(48,72,58);
  --g-color-private-brand-300-solid: rgb(46,65,54);
  --g-color-private-brand-250-solid: rgb(44,57,50);
  --g-color-private-brand-200-solid: rgb(41,50,46);
  --g-color-private-brand-150-solid: rgb(39,43,42);
  --g-color-private-brand-100-solid: rgb(38,40,40);
  --g-color-private-brand-50-solid: rgb(36,36,38);


  --g-color-base-brand: #3A644A;
  --g-color-base-background: rgb(34,29,34);
  --g-color-base-brand-hover: var(--g-color-private-brand-650-solid);
  --g-color-base-selection: var(--g-color-private-brand-150);
  --g-color-base-selection-hover: var(--g-color-private-brand-200);
  --g-color-line-brand: var(--g-color-private-brand-600-solid);
  --g-color-text-brand: var(--g-color-private-brand-600-solid);
  --g-color-text-brand-heavy: var(--g-color-private-brand-700-solid);
  --g-color-text-brand-contrast: rgb(255, 255, 255);
  --g-color-text-link: var(--g-color-private-brand-650-solid);
  --g-color-text-link-hover: var(--g-color-private-brand-700-solid);
  --g-color-text-link-visited: var(--g-color-private-purple-700-solid);
  --g-color-text-link-visited-hover: var(--g-color-private-purple-850-solid);
}
