@import 'https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap';
@import "tailwindcss";

/* stylelint-disable-next-line scss/at-rule-no-unknown */
@config '../../../../tailwind.config.mjs';

body {
    --app-actions-panel-height: 52px;
    --app-layout-header-height: 64px;
    --workspace-page-max-width: 900px;

    font-weight: 400;
    font-size: 13px;
    font-family: Inter, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 18px;
}

.dark body {
    /* TODO: Better solution */

    /* Landing page backgound gradient */
    --color-private-green-50: rgb(77 176 155 / 10%);

    /* Landing page backgound gradient */
    --color-private-green-350: rgb(77 176 155 / 60%);
    --color-text-link: rgb(97 131 110);
    --color-base-generic-ultralight: rgb(38 34 38);
}

.light body {
    --color-private-green-50: rgb(50 186 118 / 10%);
    --color-private-green-350: rgb(50 186 118 / 60%);
    --color-text-link: rgb(25 147 83);
    --color-base-generic-ultralight: rgb(250 250 250);
}