.form-row {
  &:last-child {
    margin-block-end: 0;
  }

  &__left {
    position: relative;

    flex-shrink: 0;
    &_with-note {
      padding-inline-end: 8px;
    }
  }

  &__right {
    flex-grow: 1;
  }
}
