.LandingLayout {
  --layout-header-height: 64px;

  width: 100svw;
  height: 100vh;
  background: linear-gradient(135deg,
    var(--g-color-private-green-50),
    var(--g-color-private-green-350)
  );

  &__Content {
    height: calc(100vh - var(--layout-header-height));
    padding: 60px 100px 0 100px;
    overflow-y: hidden;
  }
}
