@import "tailwindcss";
/* stylelint-disable-next-line scss/at-rule-no-unknown */
@config '../tailwind.config.mjs';

.dark .sbdocs-wrapper,
.dark .sbdocs-preview {
    color: #fff;
    background-color: #000;
}

.dark .sbdocs-preview {
    border: 1px solid #292929;
}

.dark .docblock-code-toggle {
    color: #d4d4d4;
    background: transparent;
}

.dark div:has(.docblock-code-toggle) {
    background: transparent;
}

.dark .os-theme-dark {
    color: #fff;
    background: #161616;
}

.dark .sbdocs-title {
    color: #fff;
}

.dark .docblock-argstable-head {
    background: #161616;
}

.dark .docblock-argstable-head th {
    color: #bcbcbc;
    border-bottom: 1px solid #292929 !important;
}

.dark .docblock-argstable-head th span {
    color: #bcbcbc;
}

.dark #docs-root tbody td {
    color: #bcbcbc !important;
    background: #161616 !important;
}

.dark #docs-root tbody tr:first-child td:first-child {
    border-top-left-radius: 0 !important;
}

.dark #docs-root tbody tr:first-child td:last-child {
    border-top-right-radius: 0 !important;
}

.dark #docs-root tbody tr:not(:first-child) {
    border-top: 1px solid #292929 !important;
}